.card {
    min-width: 18rem;
    max-width: 22rem;
}
h1 {
    font-family: 'Bungee Shade', cursive;
}
body {
    background-image: url("./background.png");
    background-repeat: repeat;
}
footer {
    text-align: center;
  }